<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} | PodcastApp</title>
    {{ style('/css/app.css') }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtqUkPv1I8Gl2bwr6WUoqmLe7t8pPZRblXeSLaB643S+Jg+1V3x7u"
    crossorigin="anonymous">
</head>
<body>
    @include('layout.partials._navbar')
    @section('content')

    @endsection
    @include('layout.partials._footer')
    {{ script('/js/app.js') }}
</body>
</html>