@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/sass/utilities/functions';

$primary: #41b883;
$secondary: #35495e;
$box-radius: 4px;
$footer-background-color: #35495e;

@import 'node_modules/bulma/bulma';